body {
font-family: Arial;
margin: 0;
background: #f2f2f2;
}

header {
background: #0d6efd;
color: white;
padding: 20px;
text-align: center;
}

nav {
background: #333;
padding: 10px;
text-align: center;
}

nav a {
color: white;
margin: 10px;
text-decoration: none;
}

section {
background: white;
margin: 15px;
padding: 15px;
border-radius: 5px;
}

.job {
border-left: 5px solid #0d6efd;
}

.job a {
display: inline-block;
background: #0d6efd;
color: white;
padding: 8px 12px;
text-decoration: none;
margin-top: 8px;
}

.whatsapp {
display: block;
background: green;
color: white;
padding: 12px;
text-align: center;
text-decoration: none;
margin: 15px;
font-weight: bold;
border-radius: 5px;
}

footer {
text-align: center;
padding: 10px;
}
